

<body>

	<%= render 'shared/header' %>
	
	<div class="infoBox">
		<h2>EcoBit Alpha</h2>
		<p>EcoBit is a game that you can play. You can play this game.</p>
		<p>You can do things in this game. You can also play this game.</p>
		<p>There is stocks or something. I dont know.</p>
	</div>
	
	
</body>