/* light blue-#2d89ef */
/* dark-#1d1d1d */

body { /*background:image-url("background2.png"); background-stretch:true;} */
	background-color:#efefef; }

.box_header
{
	background-color:#2d89ef;
}

#home_header
{
	position:fixed;
	z-index:-99;
	width:100%;
	left:0;
	top:0;
	padding:1px;
	height:60px;
	border-bottom:5px solid #2b5797;
}
#home_header * { display:inline-block; }

#sidebar_toggle
{
	background:image-url('sidebar_toggle.png');
	background-size:100% 100%;
	height:25px;
	width:25px;
	background-repeat:no-repeat;
	position:fixed;
	margin-top:18px;
	margin-left:5px;
}

#sidebar
{
	background-color:#1d1d1d;
	position:fixed;
	top:0;
	left:0;
	width:25%;
	height:100%;
}
#sidebar * { color:#eff4ff; }
#sidebar a { color:#603cba }
#closeSidebar
{
	padding:5px;
	border-bottom-right-radius:3px;
	background-color:#ee1111;
	width:35px;
}

.infoBox, .companyInfoBox
{
	width:50%;
	margin-left:25%;
	border:2px solid #b8b8b8;
	border-bottom:5px solid #2d89ef;
	border-radius:2px;
	margin-top:10%;
	background-color:#eff4ff;
	padding:5px;
	position:fixed;
	height:35%;
}
.infoBox h2 { text-decoration:underline; }

#header_search
{
	float:right;
	margin-right:25px;
}























/*--=-=-=-=--=-=-=-=-=-=--=-=-=-=--=-=-=-=-=-=--=-=-=-=--=-=-=-=-=-=--=-=-=-=--=-=-=-=-=-=*/


#left_side_back, #right_side_back { position:fixed; top:0; left:0; height:100%; z-index:-99; }
#homeScreen * { font-family:helvetica, tahoma; }
::-webkit-scrollbar { 
    display: none; 
}
#left_side_back 
{ 
	background-color:#eccc15;
	width:40%;
}
#right_side_back
{
	background-color:#232628;
	width:60%;
	margin-left:40%;
}
#faded_header
{
	color:white;
	opacity:0.7;
	font-size:130px;
	margin-left:15%;
	margin-top:-0;
	display:inline-block;
}
#logo
{
	background:url('ecobit_logo.png');
	height:150px;
	width:150px;
	display:inline-block;
	position:fixed;
	left:25px;
}

#left_side_options { margin-top:-2%;}
#left_side_options * { font-family:helvetica; font-size:24px; margin-left:7.3%; width:25% }
#left_side_options li { border-bottom:1px solid black; width:25%; }
#left_side_options ul { width:100%; list-style-type: none; }
a { text-decoration:none; }
#left_side_options #selected { color:white; border-bottom-color:white; }

#info { 
	margin-left:39.8%; margin-top:-17.5%; font-family:helvetica;;
	color:white;

	width:50%;
	padding-left:10px;
}

#info_header {  font-size:24px; 	border-bottom:1px solid white;}
.white_back_p {
	margin-top:-25px;
	display:inline-block;
}
.white_back_p { color:black; background-color:white; font-size:22px;}

#right_side_info { margin-top:-2%; display:inline-block; }
#right_side_info * { font-family:helvetica; font-size:24px; margin-left:50%; width:25% }










